*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.burger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.7);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.navbar {
  font-size: 18px;
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(212, 212, 212, 0.75));
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  border-bottom: 2px rgba(0, 0, 0, 0.75) solid;
  border-top: 2px rgba(0, 0, 0, 0.75) solid;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 5px;
  right: 18px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    height: 100%;
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    height: 100%;
    padding: 0 14px;
    display: grid;
    align-items: center;
    margin: 0 8px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
.nav-links:hover {
    text-shadow: rgba(32, 170, 20, 0.7) 3px 3px 3px;
    background-color: rgba(143, 143, 143, 0.37);
  }
}
footer {
  width: 100%;
  background: linear-gradient(#292929, black);
  height: 32px;
  display: flex;
  justify-content: end;
  position: fixed;
  left: 0;
  bottom: 0;
}
footer .footer_link_btn {
  height: 100%;
}
footer .footer_link_btn .footer_link {
  font-family: "Roboto", sans-serif;
  display: grid;
  align-items: center;
  text-decoration: none;
  color: #8b8b8b;
  margin-right: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  height: 100%;
  padding: 0 1rem;
}
footer .footer_link_btn .footer_link:hover,
footer .footer_link_btn .footer_link .footer_link_btn:hover {
  background-color: rgba(143, 143, 143, 0.37);
  box-shadow: 0 0 20px 3px rgba(97, 96, 96, 0.37);
}

:root {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

main {
  margin: 10rem 5rem 8rem 5rem;
  padding: 2.5rem 3rem;
  border-radius: 20px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  background-color: rgba(199, 199, 199, 0.85);
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.4);
  border-width: 3px 0 0 3px;
  border-style: solid;
  border-color: rgba(49, 49, 49, 0.192);
}

p {
  margin-top: 1rem;
  font-size: 1.8rem;
  padding: 0 3rem 0 3rem;
  font-family: "Share Tech", sans-serif;
}

article p:first-of-type {
  padding: 0 2.5rem;
}

h1, h2, h3, h4 {
  font-family: "Press Start 2P", cursive;
  padding: 0 2.5rem 0 2.5rem;
}

h1 {
  margin: 1.5rem 0 1.5rem 0;
  font-size: 3.6rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 3.2rem;
  color: #1c6815;
  text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 2px;
}

.p1 {
  margin-bottom: 5rem;
}

h2 {
  margin: 1rem 0 2.5rem 0;
  font-size: 2.4rem;
  text-decoration: underline;
  text-align: center;
}

h3 {
  margin: 2rem 0 0.5rem 0;
  font-size: 1.6rem;
  text-decoration: underline;
}

h4 {
  margin: 1.2rem 0 0.2rem 0;
  font-size: 1.4rem;
  font-style: italic;
}

article {
  border-radius: 20px;
  padding: 2rem 3.5rem 4rem 3.5rem;
  margin: 2.3rem 0 2.3rem 0;
  transition: transform 0.5s;
  scale: 1;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: rgba(41, 41, 41, 0.33);
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
  border-width: 3px 0 0 3px;
  border-style: solid;
  border-color: rgba(49, 49, 49, 0.192);
}
article:hover {
  background-color: rgba(255, 255, 255, 0.45);
  outline: 2px rgba(73, 124, 43, 0.6) solid;
  transform: scale(1.01);
  transition: transform 0.5s;
  box-shadow: 0 0 20px 5px rgba(32, 185, 18, 0.75);
}
article:hover h2 {
  text-shadow: #20b912 3px 3px 3px;
}
article:hover h3 {
  text-shadow: #20b912 2px 2px 2px;
}

article {
  /* slightly transparent fallback */
  background-color: rgba(255, 255, 255, 0.2);
}

/* if backdrop support: very transparent and blurred */
:root {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: auto;
  background: url(../images/gold.svg) no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  background-color: green;
}

h1 {
  margin-bottom: 3.5rem;
}

h2 {
  margin-bottom: 3rem;
}

.p1 {
  margin-bottom: 4.2rem;
}

/*# sourceMappingURL=edu_hub.css.map */
