@use "../scss/variables.scss";
@use "../scss/reset.scss";
@use "../scss/nav.scss";
@use "../scss/footer.scss";
@use "../scss/content.scss";


:root {
    font-size: 15px;
}

body {
    width: 100%;
    height: auto;
    background: url(../images/city.jpg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

main {
background-color: rgba(199, 199, 199, 0.8);
}

h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

main article p {
text-align: center;
}

article:first-of-type {
    margin-top: 4rem;
}

// article {
//     background-color: rgba(255, 255, 255, .15);
// }

// article {
//     background-color: rgba(41, 41, 41, 0.3);
// }

// main {
//     margin: 5rem;
//     padding: 2.5rem;
//     border-radius: 30px;

//     box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
//     position: relative;
//     z-index: 1;
//     overflow: hidden;
//     background-color: rgba(128, 128, 128, 0.493);

//     box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.4);
//     border-width: 3px 0 0 3px;
//     border-style: solid;
//     border-color: rgba(49, 49, 49, 0.192);
// }


// p {
//     margin-top: 0.5rem;
//     font-size: 0.8rem;
//     font-family: variables.$nerd_font;
//     line-height: 1.8rem;
// }



// h1 {
//     margin: 0.5rem 0 1.5rem 0;
//     font-size: 3.5rem;
//     font-weight: bolder;
//     text-align: center;
// }

// h2 {
//     margin: 0 0 1rem 0;
//     font-size: 2.3rem;
//     text-decoration: underline;
//     text-align: center;
//     font-weight: bolder;
// }

// article {
//     margin-top: 2rem;
// }