:root {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100vw;
    height: auto;
        background: url(../images/gold.svg) no-repeat center center fixed;
    background-size: cover;
}

main {
    background-color: rgba(128, 128, 128, 0.493);
    margin: 5rem;
    padding: 2.5rem;
    // opacity: 50%;
}

// .ebu_bg {
//     width: 100vw;
//     height: auto;
//     // background: url(../images/circuit-board-6522550.png) no-repeat center center fixed;
//     background: url(../images/circuit-board-6522550.png) no-repeat center center fixed;
//     background-size: cover;
//     position: absolute;
//     top: -90px;
// }