@use "variables";
@use "reset";
@use "nav";
@use "footer";
@use "content";

// $nerd_font: 'Press Start 2P', cursive;

:root {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: auto;
    background: url(../images/gold.svg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    // background-color: white;
    background-color: green;
}

h1 {
    margin-bottom: 3.5rem;
}

h2 {
    margin-bottom: 3rem;
}

.p1 {
    margin-bottom: 4.2rem;
}