@use "../scss/variables.scss";
@use "../scss/reset.scss";
@use "../scss/nav.scss";
@use "../scss/content.scss";

// $nerd_font: 'Press Start 2P', cursive;

:root {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: auto;
    background: url(../images/gold.svg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
}