@use "variables";
@use "reset";
@use "nav";
@use "footer";
@use "content";

// $nerd_font: 'Press Start 2P', cursive;

:root {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: auto;
    background: url(../images/gold.svg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    // background-color: white;
    background-color: black;
}

main {
padding: 5rem;
}

h1 {
    margin-bottom: 5rem;
}

h2 {
    margin-bottom: 3.7rem;
}

h3 {
    margin: 4rem 0 2.8rem 0;
}

p:first-of-type {
    margin-bottom: 4.8rem;
}

.kontakt {
    display: inline;
}

.mail {
    font-weight: bolder;
    text-decoration: underline;
    margin-left: 5rem;
    display: inline;
}

.schluessel {
    margin: 4rem 10rem;
}

.key {
    margin: 5rem 0;
}

#plz {
    margin-bottom: 2.5rem;
}