@use "../scss/variables.scss";
@use "../scss/reset.scss";
@use "../scss/nav.scss";
@use "../scss/footer.scss";
@use "../scss/content.scss";

// $nerd_font: 'Press Start 2P', cursive;

:root {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: auto;
    background: url(../images/gold.svg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
}
h1 {
    margin-bottom: 4rem;
}
h2 {
    margin-bottom: 3rem;
}
h3 {
    margin-bottom: 2.5rem;
}

p:first-of-type {
    margin-bottom: 3.5rem;
}

.kontakt {
    display: inline;
}

.mail {
    font-weight: bolder;
    text-decoration: underline;
    margin-left: 5rem;
    display: inline;
}

.schluessel {
    margin: 4rem 10rem;
}

.key {
    margin: 5rem 0;
}