@use "reset";
@use "footer";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    font-size: 15px;
    font-family: 'Anton', sans-serif;
}

// .titelbild {
body {
    width: 100vw;
    height: auto;
    background: url(../images/web-3706563_1920.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-links {
    padding: 36.5vh 0 0 0;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;



    a {
        font-size: 2rem;
        font-weight: bolder;
        color: black;
        text-decoration: none;
        margin: 0.5rem 0;
        text-overflow: overflow;
        text-shadow: rgba(141, 141, 141, 0.603) 3px 3px 3px;
        // letter-spacing: 1px;

        &:hover {
            text-shadow: rgba(32, 170, 20, 0.5) 3px 3px 3px;
            position: relative;
            left: -8px;

            &::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f054";
                position: relative;
                left: -45px;
            }
        }
    }
}